<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{(cardLayout | async)?.columns }}" rowHeight="200px">

    <mat-grid-tile *ngFor="let i of [1,2,3,4]" [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <card title="Card {{i}}">
        <div>Mini Card Content Here</div>
      </card>
    </mat-grid-tile>

    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <card [title]="'Jahresübersicht'">
        <annual-sales-chart></annual-sales-chart>
      </card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <card [title]="'Produkte'">
        <product-sales-chart></product-sales-chart>
      </card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <card [title]="'Verkauf nach Traffic'">
        <sales-traffic-chart></sales-traffic-chart>
      </card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <card [title]="'Sessions'">
        <store-sessions-chart></store-sessions-chart>
      </card>
    </mat-grid-tile>

    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
      <card [title]="'Letzten Bestellungen'">
        <orders-table></orders-table>
      </card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
